body {
    background-color: #F2F2F2; /* Background color */
    color: #333333; /* Font color */
}

h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 10pts;
    text-align: center;
}

h2,h3{
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    color: blue
}

p{
    line-height: 150%;
}

img{
    border: 5px solid;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}

ol, ul{
    margin-left: 50px;
}